body {
	font-family: 'Inter', sans-serif;
}

.main-container {
	grid-area: main;
	overflow-y: auto;
	padding: 20px 20px;
	margin: 30px 30px;
}

.page-title {
	color: #000;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: -0.225px;
	text-align: center;
	padding-block: 20px;
	/*vertical padding */
}
.section-title {
	color: var(--slate-700, #334155);
	font-size: 24px;
	font-style: normal;
	line-height: 32px;
	letter-spacing: -0.144px;
	padding-block: 20px;
	/*vertical padding */
}

.item-group-title {
	color: var(--slate-900, #0f172a);
	/* h2 */
	font-size: 30px;
	font-style: normal;
	line-height: 36px;
	/* 120% */
	letter-spacing: -0.225px;
	padding-block: 20px;
	/*vertical padding */
}
.item-title {
	color: var(--slate-900, #0f172a);
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	padding-block: 20px;
	/*vertical padding */
}
.item-title-small {
	color: var(--slate-900, #0f172a);
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	padding-block: 20px;
	/*vertical padding */
}

.item-big {
	color: var(--slate-900, #0f172a);
	font-size: 30px;
	font-weight: 300;
	font-style: normal;
	line-height: 36px;
	letter-spacing: -0.225px;
}
.item {
	color: var(--slate-900, #0f172a);
	font-size: 20px;
	font-weight: 300;
	font-style: normal;
	line-height: 28px;
}
