# This file is moved to the root directory before building the image

/node_modules
*.log
.DS_Store
.env
/.cache
/public/build
/build

 "test": "
 
 cd ../rules-engine 
 python3 -m venv venv 
 source venv/bin/activate 
 pip install -q build
python3 -m build 
