/node_modules/
/.react-router/
/.mypy_cache/
/build/
/public/**
/server-build/
.env

/test-results/
/playwright-report/
/playwright/.cache/
/tests/fixtures/email/*.json
/coverage/
/prisma/migrations/
/tests/fixtures/uploaded/
/heat-stack/tests/fixtures/openimg/fly-storage-tigris-dev/mock-bucket/users

package-lock.json
