name: rules engine

on: [push, pull_request]

env:
  working-directory: rules-engine

defaults:
  run:
    working-directory: rules-engine

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: "./.github/actions/setup-rules-engine"
        with:
          python-version: ${{ matrix.python-version }}
      - name: Check style
        run: |
          make lint
  mypy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: "./.github/actions/setup-rules-engine"
        with:
          python-version: ${{ matrix.python-version }}
      - name: Check typing
        run: |
          make mypy
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: "./.github/actions/setup-rules-engine"
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run tests
        run: |
          make test
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up environment
        uses: "./.github/actions/setup-rules-engine"
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build wheel
        run: |
          make build
